.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
  
  .sidenav span.list-item-title {
    margin-left: 0.5em;
  }
  
  .mat-nav-list {
    padding-top: 0;
  }
  
  mat-nav-list a.current {
    background-color: #E0F2F1;
  }
  
  #btn-close-side-nav {
    position: absolute;
    top: 12px;
    right: 0;
  }
  
  .fill-remaining {
    flex: 1 1 auto;
  }

  .user-profile img {
    border-radius: 50%;
  }