canvas {
  border: 2px solid #00695c;
  border-radius: 4px;
  width: 585px;
  height: 480px;
}

.canvas-tools {
  padding: 0.5em;
  border-radius: 5px;
  background-color: #B2DFDB;
}

input[type=color] {
  width: 55px;
  height: 36px;
}

select {
  height: 36px;
  outline: none;
}

.canvas-tool-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.5;
  z-index: 100;
  top: 0;
  left: 0;
}
